.nav-main {
  width: 95vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;

  z-index: 20;
}

.nav-logo {
  width: 100px;
  height: auto;
  padding: 10px;
}

.nav-menu {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.link {
  text-decoration: none;
  color: #0e4b87;
  padding: 5px;
  font-weight: bolder;
}

.ham {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

/* hover */

.link:hover {
  background-color: #ae2a6a;
  color: #f8f9fa;
  border-radius: 10px;
  cursor: pointer;
  transition: all ease-in-out 350ms;
}

li:hover {
  transform: scale(1.2);
  transition: all ease-in-out 350ms;
}

/* hover end--------- */

/* media-------- */
@media (max-width: 48em) {
  .ham {
    display: block;
  }

  .link {
    color: #f8f9fa;
    letter-spacing: 1.3px;
    text-transform: uppercase;
  }

  .nav-menu {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 3rem;
    position: fixed;
    background: #4c68ef;
    border-radius:50% ;
    left: 0;
    top: 68px;
    width: 100%;
    height: calc(100% - 68px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
    z-index: 20;
  }

  .nav-menu_visible {
    left: 400px;
  }
}
